<div>
    <h1>Cadastre de Funcionários</h1>
    <div class="login">
        <form action="/controllerEmp" method="post" name="form1">
            <div class="formGroup">
                <label for="username">Nome de Usuário</label><br>
                <div class="divInputForm">
                    <input type="text" class="loginInput" name="username" required>
                </div>
            </div>
            <br>
            <div class="formGroup">
                <label for="passw">Senha</label><br>
                <div class="divInputForm">
                    <input type="password" class="loginInput" name="passw" id="passw" required>
                </div>
            </div>
            <br>
            <div class="formgroup">
                <div style="margin-left: 3px;">
                    <label for="type" class="">Tipo de Usuários</label><br>
                <select name="employeeType" id="employeeType" required><br><br>
                    <option value="admin">01 - Administrador</option>
                    <option value="comun">02 - Comum</option>
                </select>
                </div>
            </div>
            {{!-- <input type="submit" class="inputAdd" name="btnSubmit" id="btnSubmit" value="Cadastrar"> --}}
            <div id="divBtnAddEmp">
                <input type="submit" class="inputLoginBtn" name="btnSubmit" value="Cadastrar">
            </div>
        </form>
    </div>
</div>