<h1>Cadastre os produtos</h1>
<hr>
<div class="divAdd">
    <form action="/controllerAddProduct" method="post" name="form1">
        <label for="nameProduto">Nome do produto</label><br><br>
        <input type="text" class="inputAdd" name="nameProduto" id="name" placeholder="Ex.: Laranja Bahia" required><br><br>
        <input type="submit" class="inputAdd" name="btnSubmit" id="btnSubmit" value="Cadastrar">
    </form>
</div>