<h1>Cadastre os produtos</h1>
<hr>
<div class="divAdd">
    <form action="/controllerAddProduct" method="post" name="form1">
        <label for="nameProduto">Nome do Produto</label><br>
        <input type="text" class="inputAdd" name="nameProduto" id="name" placeholder="Ex.: Banana" required><br><br>
        <label for="typeProduto">Tipo do Protudo</label><br>
        <input type="text" class="inputAdd" name="typeProduto" id="type" placeholder="Ex.: Prata" required><br><br>
        
        <label for="">Já temos este produto?</label><br>
        <input type="radio" id="sim" name="option" value="sim">
        <label for="sim">Sim</label><br>
        <input type="radio" id="nao" name="option" value="não" checked>
        <label for="nao">Não</label><br>
        <br>
        <div id="divQtd" >
            <label for="qtdProduto">Quantidade do produto</label><br>
            <input type="number" class="inputAdd" name="qtdProduto" id="qtdProduto" min="0" value="0"><br><br>
        </div>

        <input type="submit" class="inputAdd" name="btnSubmit" id="btnSubmit" value="Cadastrar">
    </form>
</div>
<script src="/js/products.js"></script>