<div>
    <div class="addForm">
    <h1 style="margin-bottom: 20px;">Cadastro de Fornecedor</h1>
        <form action="/controllerAdd" method="post" name="form1">
            <div class="formGroup">
                <label for="name">Nome completo</label>
                <div class="divInputForm">
                    <input type="text" class="loginInput" name="name" id="name" required>
                </div>
            </div>
            <div style="display: flex;">
                <div class="formGroup">
                <label for="city">Cidade</label>
                <div class="divInputForm">
                    <input type="text" class="loginInput" name="city" id="city" required>
                </div>
                </div>
                <div class="formGroup" style="margin-left: 20px;">
                    <label for="name">Bairro</label>
                    <div class="divInputForm">
                        <input type="text" class="loginInput" name="neighborhood" id="neighborhood" required>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label for="email">E-mail</label>
                <div class="divInputForm">
                    <input type="email" class="loginInput" name="email" id="email">
                </div>
            </div>
            <div class="formGroup">
                <label for="phone">Telefone</label>
                <div class="divInputForm">
                    <input type="tel" class="loginInput" name="phone" id="phone" required>
                </div>
            </div>
            <div class="formGroup">
                <lable for='cpf'>CPF</lable>
                <div class="divInputForm">
                    <input type="text" class="loginInput" name="cpf" id="cpf" required>
                </div>
            </div>
            
            {{!-- <input type="submit" class="inputAdd" name="btnSubmit" id="btnSubmit" value="Cadastrar"> --}}

            <div id="divBtnAddEmp">
                <input type="submit" class="inputLoginBtn" name="btnSubmit" value="Cadastrar">
            </div>
        </form>
    </div>
</div>