<div class="d-flex flex-column align-items-center justify-content-center">
    <div>
        <h1>{{name}} foi cadastrado(a) com sucesso</h1>
    </div>

    <a href="/listProviders">Voltar à lista</a>
</div>