<h1>Faça o Login</h1>

<div class="divAdd">
    <form action="/menu" method="post" name="form1">
    <label for="nomeFunc">Nome do usuários</label><br>
    <input type="text" name="nomeFunc" id="nomeFunc"><br>
    <label for="senhaFunc">Senha</label><br>
    <input type="password" name="senhaFunc" id="senhaFunc"><br><br>
    <div id="btnLogin">
        <input type="submit" class="inputAdd" name="btnSubmit" id="btnSubmit" value="Entrar">
    </div>
</form>
</div>
