<div>
    <h1 style="font-family: 'Roboto', sans-serif; margin: 0 10px 20px 0"> Menu Principal Morangando</h1>

    <div class="divOptionIndex divAdd">
        <div>
            <a href="addEmployee">
                <div class="btnMenu">Cadastrar Funcionários</div>
            </a>
            <br>
            <a href="addProvider">
                <div class="btnMenu">Cadastrar Fornecedor</div>
            </a>
            <br>
            <a href="listProviders">
                <div class="btnMenu">Listar Fornecedores</div>
            </a>
            <br>
            <a href="addClient">
                <div class="btnMenu">Cadastrar Cliente</div>
            </a>
            <br> 
            <a href="listClients">    
                <div class="btnMenu">Listar Clientes</div>
            </a>   
            <br>
            <a href="addProduct">
                <div class="btnMenu">Cadastrar Produto</div>
            </a>        
            <br>
            <a href="listProducts">
                <div class="btnMenu">Listar Produtos</div>
            </a>
        </div>
    </div>
</div>