<h1> Colaboradores Morangando</h1>
<hr>
<div class="divOptionIndex">
    <a href="addEmployee">Cadastrar Funcionários</a>
    <br>
    <a href="addProvider">Cadastrar Fornecedor</a>
    <br>
    <a href="addClient">Cadastrar Cliente</a>
    <br>
    <a href="listProviders">Listar Fornecedores</a>
    <br>
    <a href="listClients">Listar Clientes</a>
    <br>
    <a href="addProduct">Cadastrar Produto</a>
    <br>
    <a href="listProducts">Listar Produtos</a>
</div>